{% extends "::base.html.twig" %}

{% block title %}User:list{% endblock %}

{% block body %}
    <h1>User:list page</h1>

    {% if pagination is not null %}
        <div class="count">
            Count: {{ pagination.getTotalItemCount }}
        </div>
    {% endif %}

    <ul>
        {% for user in pagination %}
            <li>
                {# @var user \Brd4\UserBundle\Entity\User #}
                <a href="{{ path('brd4_message_user_list', {'id': user.id}) }}">{{ user.username }}</a>
                {% if user.isFollow is defined and user.isFollow %}
                    <a href="{{ path('brd4_user_unfollow', {'id': user.id}) }}">unfollow</a>
                {% else %}
                    <a href="{{ path('brd4_user_follow', {'id': user.id}) }}">follow</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if pagination is not null %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}

{% endblock %}
